* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Volkhov', serif;
}

.header {
    margin: 0 10%;
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 25px 15px;
    /* background: white; */
    z-index: 10;
}

.header .navbar .navbar-logo {
    margin: 0 0;
}

.header .navbar .navbar-logo a {
    font-size: 32px;
    font-weight: 400;
    padding: 0px;
}

.header .navbar .navbar-brand i {
    top: -0.2px;
    left: 55px;
    font-size: 20px;
}

.header .navbar .navbar-content {
    margin-right: 0px;
}

.header .navbar .navbar-content a {
    color: white;
}

.header .navbar .navbar-content .nav-item .nav-link {
    font-size: 29px;
    line-height: 1em;
}

.header .navbar .navbar-content .navbar-nav .nav-item:first-child i {
    font-size: 15px;
    line-height: 1em;
    transform: rotate(70deg);
}

.blog-carousel {
    padding-left: 10%;
}

.blog-carousel .row .carousel-title {
    position: absolute;
    top: 150px;
    left: 50px;
}

.blog-carousel .row .carousel-title h4 {
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}

.blog-carousel .row .carousel-title p {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.blog-carousel .row .carousel-main {
    height: 300px;
}

.blog-carousel .row .carousel-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card {
    margin: 100px 40px;
    display: flex;
}

.blog-card .card {
    padding: 15px 15px;
    margin: 50px 0;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.086);
    border-radius: 10px;
}

.blog-card .card img {
    width: 100%;
    border-radius: 10px;
}

.blog-card .card .card-body {
    margin-left: 0;
    text-align: left;
}

.blog-card .card .card-body h6 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}

.blog-card .card .card-body span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color:#fb811e;
}

.blog-card .card .card-body p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: #fb811e;
    margin-bottom: 30px;
    color: black;
}

.blog-card .card .btn {
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 15px 30px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        background: #fb811e;
        border: none;
        color: white;
        border-radius: 30px;
        transition: all .25s ease-in-out;
    }

.blog-card .nav-control .nav-item a {
    background-color: transparent;
    border-radius: 50%;
    color: black;
}

.blog-card .nav-control .nav-item .active {
    background-color: #009f4d;
    color: white;
}

.blog-card .nav-control .nav-item a:hover {
    background-color: #009f4d;
    color: white;
}

.blog-card .blog-post {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.blog-card .blog-post input, button {
    border: 0.5px solid rgba(0, 0, 0, 0.088);
    padding: 12px;
}

.blog-card .blog-post button {
    color: white;
    background-color: #fb811e;
}

.blog-card .blog-post .post-content {
    margin: 40px 0;
}

.blog-card .blog-post .post-content .content {
    margin: 40px 0;
}

.blog-card .blog-post .post-content .content h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

.blog-card .blog-post .post-content .content a {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #060606b8;
}

.blog-card .blog-post .post-content .recent-post a {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #060606e4;
}

.blog-card .blog-post .post-content .recent-cmt a {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color:#fb811e;
}

.blog-card .blog-post .post-content .content a:hover {
    color: #fb811e;
}

.blog-card .blog-post .recent-cmt li {
    padding-bottom: 15px;
}

.blog-card .blog-post .content .recent-co a{
    color:#fb811e;
}

.footer {
    margin: 5rem 0;
}

.footer .row .col-12 {
    text-align: left;
}

.footer .findus-footer h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer .findus-footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: 1rem;
}

.footer .farmstead-footer a {
    font-size: 32px;
    color: #fb811e;
}

.footer .farmstead-footer i {
    position: absolute;
    font-size: 20px;
    color: #fb811e;
    top: -5px;
    left: 70px;
}

.footer .farmstead-footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: 1rem;
}

.footer .farmstead-footer span>a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: 1rem;
    color: #009f4d;
}

.footer .farmstead-footer span>a:hover {
    color: #fb811e;
}

.footer .news-footer span>a:hover {
    color: #fb811e;
}

.footer .news-footer h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer .news-footer p {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer .news-footer .input-group input {
    border-radius: 30px 0 0 30px;
    padding: 0 20px;
    width: 80%;
}

.footer .news-footer .input-group {
    margin: 20px 0px;
}

.footer .news-footer .input-group span {
    color: white;
    background-color: #009f4d;
    border-radius: 0 30px 30px 0;
    padding: 10px 40px;
    margin-bottom: 2px;
    margin-left: 40px;
}

.footer .logo-footer a {
    color: #009f4d;
    background-color: rgb(10 191 83 / 8%);
    font-size: 16px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.footer .logo-footer i {
    background-color: rgb(10 191 83 / 8%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}