*{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1190px;
    margin: 0 ;
    padding:0 15px;
}

.header {
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 25px 15px;
    /* background: white; */
    z-index: 10;
}

.header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .navbar-logo {
    margin: 0 0;
}

.header .navbar .navbar-logo a {
    font-size: 32px;
    font-weight: 400;
    padding: 0px;
}

.header .navbar .navbar-brand i {
    top: -0.2px;
    left: 55px;
    font-size: 20px;
}

.header .navbar .navbar-content {
    margin-right: 0px;
}

.header .navbar .navbar-content a {
    color: #060606;
}

.header .navbar .navbar-content .nav-item .nav-link {
    font-size: 29px;
    line-height: 1em;
}

.header .navbar .navbar-content .navbar-nav .nav-item:first-child i {
    font-size: 15px;
    line-height: 1em;
    transform: rotate(70deg);
}

.farm-carousel {
    height: 650px;
}

.farm-carousel .farm-carousel-bg::after {
    content: "Farm";
    position: absolute;
    top: 100px;
    left: 50px;
    width: 500px;
    color: #40404016;
    font-size: 6rem;
    font-weight: 700;
}

.farm-carousel .row .farm-title {
    position: relative;
    top: 190px;
    left: 90px;
    z-index: 10;
    height: 100%;
}

.farm-carousel .row .farm-title h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
}

.farm-carousel .row .farm-title p {
    font-size: 17px;
    line-height: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.farm-carousel .row .farm-title .btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: white;
    border-radius: 30px;
    transition: all .25s ease-in-out;
}

.farm-carousel .row .farm-title .btn-style:hover {
    background: #28a745;
}

.farm-carousel .row .farm-slider {
    width: 100%;
    height: 100%;
}

.farm-carousel .row .farm-slider .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0px 4px;
}

.farm-carousel .row .farm-slider .carousel-indicators button:active {
    background-color: #fb811e;
}

.farm-carousel .row .farm-slider .carousel-inner img {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 650px;
}

.farm-carousel .row .farm-slider .carousel-inner .img-info {
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}

.farm-carousel .row .farm-slider .carousel-inner .img-info h4 {
    color: white;
}

.farm-carousel .row .farm-slider .carousel-inner .img-info p {
    color: white;
    font-size: 17px;
    line-height: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.agriculture{
    padding: 80px 40px;
}

.agriculture .agriculture_content{
    display: flex;
}

.agriculture .left{
    width: 50%;
}

.agriculture .left h5{
    font-size: 22px;
    color: #fb811e;
}

.agriculture .left h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}

.agriculture .left p{
    margin-top: 10px;
    max-width: 80%;
    font-size: 17px;
    line-height: 27px;
    color: #707070;
}

.button{
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 400;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
}

.button:hover{
    background: #009f4d;
    color: #ffffff;
}

.agriculture .right{
    width: 50%;
}

.agriculture .right img{
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}

.service{
    padding: 80px 40px;
    background-color: #009f4d;
    position: relative;
}

.service .title .title_content{
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.service .title .title_content .left{
    max-width: 50%;
    flex: 0 0 50%;
    width: 100%;
    padding:0 15px;
}

.service .title .title_content .left h5{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 400;
}

.service .title .title_content .left h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    max-width: 85%;
    font-family: 'Volkhov', serif;
}

.service .title .title_content .right{
    max-width: 50%;
    flex: 0 0 50%;
   
    width: 100%;
    padding:0 15px;
}

.service .title .title_content .right p{
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 80%;
    line-height: 35px;
    margin-top: 40px;
}

.service .title .title_content .bg_content{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    opacity:0.2;
    font-size: 12vw;
    top: 160px;
    left: 230px;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.service .main{
    margin-top: 80px;
}

.service .main .row{
    display: flex;
}



.service .main .item{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eee;
    border: none;
}

.service .main .item_header img{
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.service .main .item_body{
    margin-left: 30px;
}

.service .main .item_body span{
    display: inline-block;
    color: #009f4d;
    background-color: rgb(0 159 77 / 16%);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.service .main .item_body h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #060606;
    margin: 15px 0;
}

.service .main .item_body h3:hover{
    color: #009f4d;
}

.service .main .item_body p{
    max-width: 80%;
    font-size: 17px;
    line-height: 27px;
    color: #707070;
    padding-bottom: 30px;
}

.choose{
    padding: 80px 40px;
}

.choose .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose .header_choose{
    width: 50%;
}

.choose .header_choose h5{
    color: #fb811e;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Volkhov', serif;
}

.choose .header_choose h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
    font-family: 'Volkhov', serif;
}

.choose .header_choose p{
    font-size: 17px;
    line-height: 27px;
    color: #707070;
}

.choose .header_choose .row{
    padding-top: 60px;
}

.choose .header_choose .item{
    display: flex;
    /* padding-left: 10px; */
}

.choose .header_choose .item i{
    font-size: 30px;
    color: #fb811e;
}

.choose .header_choose .item h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px;
}

.choose .header_choose .col p{
    max-width: 80%;
    margin: 10px 0 10px 45px;
}

.choose .main{
    width: 50%;
    margin-left: 150px;
    position: relative;
}

.choose .main img{
    width: 500px;
    border-radius: 40px;
}

.choose .main .item{
    background-color:#fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 45px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.choose .main p{
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
    font-family: 'Volkhov', serif;
}

.choose .main h4{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: -15px;
}

.portfolio{
    padding: 80px 40px;
}

.portfolio .row{
    margin-left: 40px;
}

.portfolio .col-4{
    padding: 40px 0;
    
}

.portfolio .item{
    display: flex;
}

.portfolio .item img{
    width: 60px;
    height: 60px;
    border-style: none;
}

.portfolio .item i{
    font-size: 40px;
    color: #009f4d;
}

.portfolio .item h4{
    margin: 0 20px;
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    color: #060606;
    font-family: 'Volkhov', serif;
    margin-bottom: 10px;
}

.portfolio .col-4 p{
    max-width: 60%;
    margin: 0px 0px 10px 20px;
}

.portfolio .col-4:hover{
    border: 1px solid #eee;
    
    background: #fff;
    border-radius: 10px;
}

.portfolio .col-4:hover h4{
    color: #009f4d;
}

.Gallery{
    padding: 40px;
}

.Gallery .row{
    margin: 0;
    padding: 0;
} 

.Gallery .row .col-3 h4{
    color: #fb811e;
    font-size: 22px;
}

.Gallery .row .col-3 h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
    font-family: 'Volkhov', serif;
}

.Gallery .row .col-3 p{
    margin-top: 5px;
    color: #707070;
    letter-spacing: 1px;
    line-height: 30px;
}

.Gallery .row .item{
    position: relative;
}

.Gallery .row .item h5{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

.farm-customer {
    position: relative;
}

.farm-customer .carousel .carousel-bg img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}
.farm-customer .carousel .carousel-bg::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.463);
    filter: grayscale(2%) contrast(100%) ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.farm-customer .carousel .carousel-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.farm-customer .carousel-main .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 5px;
}

.farm-customer .carousel-main .carousel-item {
    padding: 80px 0;
}

.farm-customer .carousel-main .carousel-item .title {
    text-align: center;
}

.farm-customer .carousel-main .carousel-item .title h3{
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
}
.farm-customer .carousel-main .carousel-item .title p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Source Sans Pro',sans-serif;
}

.farm-customer .carousel-main .carousel-item img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    left: 155px;
}

.farm-customer .carousel-main .carousel-item .content {
    text-align: left;
}

.farm-customer .carousel-main .carousel-item .content i {
    font-size: 25px;
    color:#fb811e ;
}

.farm-customer .carousel-main .carousel-item .content p {
    padding-right: 60px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-indent: 30px;
}

.experienced{
    padding: 80px 30px;
    background-color: #009f4d;
    color: #fff;
}

.experienced .header_ex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experienced .header_ex .left{
    max-width: 50%;
    position: relative;
}

.experienced .header_ex .left h5{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Volkhov', serif;
}

.experienced .header_ex .left h2{
    max-width: 80%;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Volkhov', serif;
}

.experienced .header_ex .right{
    max-width: 50%;
}

.experienced .header_ex .right p{
    font-size: 18px;
    max-width: 80%;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

.experienced .header_ex .left h4{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 180px;
    left: 35px;
    bottom: 50px;
    font-family: 'Volkhov', serif;
    letter-spacing: 2px;
}

.experienced .main .row{
    margin-top: 80px;
    color: #060606;
}

.experienced .main .item{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    position: relative;
}

.experienced .main .item .img{
    position: relative;
}

.experienced .main .item img{
    border-radius: 8px;
}

.experienced .main .item .team{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(8 8 8 / 54%);
    visibility: hidden;
}

.experienced .main .item .team .text{
    color: #fff;
    transform: translateY(0px);
    visibility: hidden;
    transition: all 2s;
    position: absolute;
    top: 80px;
    left: 30px;
}

.experienced .main .item:hover .text{
    color: #fff !important;
    visibility: visible;
    animation-name: experienced;
    animation-duration: 0.5s;
    /* background-color: rgb(8 8 8 / 54%); */
}

.experienced .main .img .text:hover .team{
    background-color: rgb(8 8 8 / 54%);
    visibility: visible;
}

@keyframes experienced {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes experienced2 {
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}

.experienced .main .item .team .logo{
    position: absolute;
    top: 300px;
    left: 150px;
    transform: translateY(0px);
    visibility: hidden;
    color: #fff;
}

.experienced .main .item:hover .logo{
    visibility: visible;
    animation-name: experienced2;
    animation-duration: 0.5s;
}

.experienced .main .item .text_1{
    text-align: center;
    margin-top: 20px;
}

.experienced .main .item .text_1 h3{
    font-weight: 600;
    color: #060606;
    font-size: 21px;
    font-family: 'Volkhov', serif;
}

.experienced .main .item .text_1:hover h3{
    color: #fb811e;
}

.experienced .main .item .text_1 h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.contact{
    padding: 80px;
}

.contact .title{
    display: flex;
}

.contact .header_1{
    width: 40%;
    margin-left: 30px;
}

.contact .header_1 h4{
    font-size: 22px;
    color: #fb811e;
    font-family: 'Volkhov', serif;
    font-weight: 600;
}

.contact .header_1 h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #060606;
    font-family: 'Volkhov', serif;
}

.contact .header_1 .contact_details{
    display: flex;
    padding-top: 20px;
}

.contact .header_1 .contact_left{
    margin-right: 15px;
}

.contact .header_1 .contact_left i{
    color: #fb811e;
    font-size: 20px;
}

.contact .header_1 .contact_right p{
    color: #707070;
    margin-top: 10px;
}

.contact .header_1 .contact_right:hover .p{
    color: #fb811e;
}

.contact .main{
    width: 60%;
}

.contact .main .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .main .form input, .contact .main .form textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.components{
    padding: 80px 0;
    position: relative;
    top: -110px;
    
}

.components .title .header_components{
    width: 50%;
    padding-bottom: 50px;
    position: relative;
    top: 90px;
    left: 20px;
}

.components .title .header_components p{
    font-size: 200px;
    margin: 30px 20px;
    line-height: 1;
    color: #009f4d;
    font-family: 'Volkhov', serif;
}

.components .title .header_components form{
    margin-top: 30px;
}

.components .title .header_components input{
    padding: 10px 58px 10px 20px;
    font-size: 16px;
    color: #060606;
    border: 2px solid #eee;
    border-radius: 35px;
    background: #f4f4f4;
    height: auto;
    cursor: text;
    appearance: none;
}

.components .title .header_components button{
    border: none;
    color: #009f4d;
    line-height: 1;
    background: none;
    position: absolute;
    left: 210px;
    padding: 18px 18px;
    font-size: 16px;
}

.components .title .header_components .back{
    margin: 30px;
    color: #060606;
}

.components .title .header_components .back i{
    margin-right: 10px;
}

.components .title .header_components:hover .back{
    color: #009f4d !important;
}

.components .title .main{
    width: 50%;
}

.components .title .main img{
    width: 100%;
    
}

.contact_us{
    padding: 160px 0;
}

.contact_us .title{
    display: flex;
}

.contact_us .title .header_contact h3{
    margin-bottom: 30px;
}

.contact_us .title .header_contact .contact_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact_us .title .header_contact .contact_text i{
    font-size: 8px;
    margin-bottom: -5px;
}

.contact_us .title .main img{
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top:-280px;
    right: 0;
}

.bootstrap{
    padding: 40px 0;
    display: inline-block;
}

.bootstrap .title{
    margin-left: 180px;
}

.map{
    padding: 40px 0;
}

footer{
    padding: 40px 35px;
    letter-spacing: 1px;
}

.footer .col-4 h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}

.footer .col-4 p{
    color: #707070;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer .footer_logo{
    color: #fb811e;
    margin-bottom: 30px;
}

.footer .footer_logo p{
    color: #fb811e;
    position: relative;
    font-size: 32px;
    line-height: 27px;
}


.footer p:hover .span{
    
    color: #fb811e;
}

.footer .footer_logo i{
    position: absolute;
    top: -12px;
    left: 55px;
    font-size: 20px;
}

.footer .span_1{
    color: #009f4d;
}

.footer .span_1:hover{
    color: #fb811e;
}

.footer .col-4 .form{
    margin-bottom: 30px;
    margin-left: -5px;
    display: flex;
}

.footer .col-4 .form input{
    background: #f4f4f4;
    padding: 12px 10px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}

.footer .col-4 .form button{
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
}

.footer .col-4 .footer_icon{
    display: flex;
}

.footer .col-4 .icon{
    color: #009f4d;
    display: block;
    margin-right: 10px;
}

.footer .col-4 .icon i{
    /* margin-right: 10px; */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(10 191 83 / 8%);
    text-align: center;
    line-height: 2;
}

.footer .col-4 .footer_icon .icon:hover i{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}